<% include ../partials/header %>

<div class="row">
  <div class="col-md-4">
    <h1><%= user.firstName +" "+ user.lastName %></h1>
    <div class="thumbnail">
      <img src="<%= user.avatar %>" alt="user profile image" srcset="">
      <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
    </div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatem, tempore iusto nesciunt exercitationem
    pariatur deserunt officia modi cumque ducimus aperiam obcaecati, quae dignissimos corporis ea totam perspiciatis?
    Est, ad. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus hic ut, vero aliquam consequatur nulla
    pariatur reprehenderit ad velit incidunt iusto facere amet odit dolorem aperiam quod. Hic, distinctio. Dicta
    voluptas sit laborum provident corporis, repellendus amet dignissimos deleniti veniam veritatis corrupti ad
    similique libero non, expedita voluptate aperiam numquam?
  </div>
  <div class="col-md-8">
    <h3><%= user.username %>'s profile page</h3>
    <% if(!campgrounds) { %>
      <ul>
        <% campgrounds.forEach((campground) => { %>
          <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
        <% }); %>
      </ul>
    <% } %>
  </div>
</div>

<% include ../partials/footer %>